# MongoDB
MONGODB_URI=mongodb://localhost:27017/resep-pintar

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=resep-pintar
MINIO_USE_SSL=false

# URL publik MinIO (untuk akses foto di browser)
NEXT_PUBLIC_MINIO_URL=http://localhost:9000

# Ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2
